<!DOCTYPE html>
<html>
<head>
  <title>My Project</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
  <body>
    <div class="perspective-text">
      <div class="perspective-line">
        <p></p>
        <p>Translate</p>
      </div>
      <div class="perspective-line">
        <p>Built Using augumented data</p>
        <p>తెలుగు</p>
      </div>
      <div class="perspective-line">
        <p>తెలుగు</p>
        <p><a href="/translate">Start Translation</a></p>
      </div>
      <div class="perspective-line">
        <p>Click '''start Translate''' </p>
        <p>తెలుగు  కోసం</p>
      </div>
      <div class="perspective-line">
        <p>తెలుగు </p>
        <p>Built using Transformers</p>
      </div> 
    </div>
    <br>
</body>
</html>
